.app {
  display: flex;
  justify-content: space-evenly;
  /* padding: 20px; */
}

.app__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
.app__tideHeader {
  margin-top: 20px;
  font-size: 20px;
  margin-right: 20px;
}

.app__right {
  flex: 1.8;
}

@media (max-width: 520px) {
  .app {
    flex-direction: column;
  }
}
