.app {
  display: flex;
  justify-content: space-evenly;
  background-image: url('https://thumbs.dreamstime.com/b/background-tropical-beach-sea-palm-trees-vector-flat-design-illustration-vertical-layout-70761147.jpg');
  /* padding: 20px; */
  background-repeat: no-repeat;
  background-size: cover;
}

.app__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.app__tideHeader {
  margin-top: 20px;
  font-size: 20px;
  margin-right: 20px;
}

.app__right {
  flex: 1.8;
}

@media (max-width: 520px) {
  .app {
    flex-direction: column;
  }
}

/* Iphone 12 Screen */
@media (max-width: 350px) {
  .app {
    flex-direction: column;
  }
}
